  <header id="header">
    <div class="center-block" id="header-wrapper">
      <div class="logo-wrapper">
        <a href="#">
        <i class="fa fa-bullseye fa-logo"></i>
        </a>
      </div>
      <div class="menu-nav">
        <ul class="menu list-unstyled">
          <li><a href="#">胡言乱语</a></li>
          <li><a href="#">十里画廊</a></li>
          <li><a href="#">关于自己</a></li>
        </ul>
      </div>
      <div class="header-ft">
        <h5><strong>无处不在</strong></h5>
        <ul class="list-social list-inline">
          <li><a href="http://weibo.com/iamjustreal" class="fa fa-weibo fa-lg"></a></li>
          <li><a href="#" class="fa fa-weixin fa-lg"></a></li>
          <li><a href="http://tookit.github.io/" class="fa fa-github fa-lg"></a></li>
        </ul>
      </div>
    </div>
  </header>